<b>Required Libraries

pip install bs4
pip install pandas
pip install re
pip install xlsx

In [1]:
import bs4
import pandas as pd
import re

In [2]:
soup = bs4.BeautifulSoup()

In [3]:
f = open("12-11/MarketWatch1.htm", encoding='utf-8')
contents = f.read()
soup = bs4.BeautifulSoup(contents, 'lxml')

In [4]:
title = soup.findAll("div", {"class": "other", "id":"header"})

In [5]:
contents1 = str(title[0])
headers = soup.findAll("div", {"class": "t0head"})

In [6]:
f1 = open("12-11/MarketWatch2.htm", encoding='utf-8')
contents4 = f1.read()
soup4 = bs4.BeautifulSoup(contents4, 'lxml')

In [7]:
title4 = soup4.findAll("div", {"class": "other", "id":"header"})

In [8]:
contents5 = str(title4[0])
headers4 = soup4.findAll("div", {"class": "t0head"})

In [9]:
headers[0].prettify().split('\n')[1][1:]

'نماد'

In [10]:
COLUMNS = 9
lst = []
lst2 = []
lst.append(headers[0].prettify().split('\n')[1][1:])
lst2.append(headers4[0].prettify().split('\n')[1][1:])
for i in range(1,COLUMNS):
    lst.append(headers[i].prettify().split('\n')[1][1:])
    lst2.append(headers4[i].prettify().split('\n')[1][1:])
lst

['نماد',
 'حجم خرید حقیقی',
 'تعداد خرید حقیقی',
 'میانگین سه ماه',
 'ارزش معامله',
 'حجم معامله',
 'کمترین قیمت',
 'بیشترین قیمت',
 'اولین قیمت']

In [11]:
lst2

['نماد',
 'حجم فروش حقیقی',
 'تعداد فروش حقیقی',
 'آخرین قیمت',
 'درصد آخرین قیمت',
 'قیمت پایانی',
 'درصد قیمت پایانی',
 'P/E',
 'EPS']

In [12]:
rows = soup.find("div", {"class": "other", "id":"main"})
contents2 = str(rows)
soup2 = bs4.BeautifulSoup(contents2, 'lxml')
test = soup2.findAll("div",{"class","t0c"})

In [13]:
rows4 = soup4.find("div", {"class": "other", "id":"main"})
contents5 = str(rows4)
soup5 = bs4.BeautifulSoup(contents5, 'lxml')
test2 = soup5.findAll("div",{"class","t0c"})

In [14]:
# >(0|[+|-]*[0-9]+(.|,)[0-9]+)<
# >(0|[+|-]*[1-4].[0-9]{2})<
test[1]
#re.findall(r'>(0|[+|-]*[0-9]+(.|,)*[0-9]+\s*(M|B)*|[0-9]+\s*(M|B)*|[+|-]*[0-9]+|[A-Z]*[a-z]+|-{1})<',string=str(test2[2564]))[0][0]

In [15]:
test2[5].string

'33,540'

In [16]:
data = []
data2 = []
for i in range(0,len(test),10):
    tmp = []
    tmp2 = []
    for j in range(COLUMNS):
        tmp.append(test[i+j].string)
        tmp2.append(test2[i+j].string)
    data.append(tmp)
    data2.append(tmp2)

In [17]:
df = pd.DataFrame(data=data, columns=lst)
df2 = pd.DataFrame(data=data2, columns=lst2)

In [18]:
df3 = pd.merge(df, df2, on='نماد')

In [19]:
df3.tail()

,نماد,حجم خرید حقیقی,تعداد خرید حقیقی,میانگین سه ماه,ارزش معامله,حجم معامله,کمترین قیمت,بیشترین قیمت,اولین قیمت,حجم فروش حقیقی,تعداد فروش حقیقی,آخرین قیمت,درصد آخرین قیمت,قیمت پایانی,درصد قیمت پایانی,P/E,EPS
601,حآسا,11483266,2215,6798388,505.36 B,11.483M,"42,425","44,154","44,154",10291555,1146,"44,154",5,"44,008",4.65,155.51,283
602,آپ,7440544,851,5194704,124.003 B,7.441M,"16,380","17,800","17,700",7440544,762,"16,400",-4.87,"16,670",-3.31,20.48,814
603,ساذري,0,0,7530,0,0,0,0,0,0,0,"5,994",0,"5,820",0,176.36,33
604,اپرداز,2078342,376,4011027,51.901 B,2.478M,"20,594","22,680","22,680",2468342,203,"20,594",-5,"20,942",-3.39,9.48,2210
605,لابسا,666127,284,1531336,50 B,"866,127","57,530","59,900","57,530",866127,227,"57,530",-4.99,"57,730",-4.66,21.84,2643

In [20]:
df3['نماد'].dtypes == 'O'

True

In [21]:
df3['ارزش معامله'] = df3['ارزش معامله'].str.replace('M', '000').str.replace('B','000000').str.replace(',','').str.replace(' ','').str.replace('.','')
df3['ارزش معامله'] = pd.to_numeric(df3['ارزش معامله'],errors='coerce',downcast='integer')
# =============================================================
df3['حجم معامله'] = df3['حجم معامله'].str.replace('M', '000').str.replace('B','000000').str.replace(',','').str.replace(' ','').str.replace('.','')
df3['حجم معامله'] = pd.to_numeric(df3['حجم معامله'],errors='coerce',downcast='integer')

c:\users\reza\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
c:\users\reza\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [22]:
df3.tail()

,نماد,حجم خرید حقیقی,تعداد خرید حقیقی,میانگین سه ماه,ارزش معامله,حجم معامله,کمترین قیمت,بیشترین قیمت,اولین قیمت,حجم فروش حقیقی,تعداد فروش حقیقی,آخرین قیمت,درصد آخرین قیمت,قیمت پایانی,درصد قیمت پایانی,P/E,EPS
601,حآسا,11483266,2215,6798388,50536000000,11483000,"42,425","44,154","44,154",10291555,1146,"44,154",5,"44,008",4.65,155.51,283
602,آپ,7440544,851,5194704,124003000000,7441000,"16,380","17,800","17,700",7440544,762,"16,400",-4.87,"16,670",-3.31,20.48,814
603,ساذري,0,0,7530,0,0,0,0,0,0,0,"5,994",0,"5,820",0,176.36,33
604,اپرداز,2078342,376,4011027,51901000000,2478000,"20,594","22,680","22,680",2468342,203,"20,594",-5,"20,942",-3.39,9.48,2210
605,لابسا,666127,284,1531336,50000000,866127,"57,530","59,900","57,530",866127,227,"57,530",-4.99,"57,730",-4.66,21.84,2643

### ============================== NEW ===========================

In [23]:
df3['تعداد خرید حقیقی'] = pd.to_numeric(df3['تعداد خرید حقیقی'],errors='coerce',downcast='integer')
df3['تعداد فروش حقیقی'] = pd.to_numeric(df3['تعداد فروش حقیقی'],errors='coerce',downcast='integer')
df3['حجم خرید حقیقی'] = pd.to_numeric(df3['حجم خرید حقیقی'],errors='coerce',downcast='integer')
df3['حجم فروش حقیقی'] = pd.to_numeric(df3['حجم فروش حقیقی'],errors='coerce',downcast='integer')

In [24]:
df3['سرانه خرید'] = df3['ارزش معامله'] * df3['حجم خرید حقیقی'] / df3['تعداد خرید حقیقی'] * df3['حجم معامله']

### ======================================================

In [25]:
df3.to_excel("12-11/99_11_12.xlsx",index=False)

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 606 entries, 0 to 605
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   نماد              606 non-null    object
 1   حجم خرید حقیقی    606 non-null    int32
 2   تعداد خرید حقیقی  606 non-null    int16
 3   میانگین سه ماه    606 non-null    object
 4   ارزش معامله       606 non-null    int64
 5   حجم معامله        606 non-null    int32
 6   کمترین قیمت       606 non-null    object
 7   بیشترین قیمت      606 non-null    object
 8   اولین قیمت        606 non-null    object
 9   حجم فروش حقیقی    606 non-null    int32
 10  تعداد فروش حقیقی  606 non-null    int32
 11  آخرین قیمت        606 non-null    object
 12  درصد آخرین قیمت   606 non-null    object
 13  قیمت پایانی       606 non-null    object
 14  درصد قیمت پایانی  606 non-null    object
 15  P/E               606 non-null    object
 16  EPS               606 non-null    object
 17  سرانه خرید        580 non-null    float64
dtypes: float64(1), int16(1), int32(4), int64(1), object(11)
memory usage: 76.9+ KB

In [27]:
len(test),len(test2)

(6070, 6080)